* {
    box-sizing: border-box; 
    
}

html, body {
    padding: 0;
    margin: 0;
    max-width: 100vh;
}

body {
    height: 100vh;
    font-family: Arial;
}

#wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

table {
    border: 2px solid black;
}

/*---------------------------------*/

#account-tabs {
}

#account-tabs > ul {
    padding: 0;
}

#account-tabs ul li {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    /*background-color: aquamarine; 
    border-radius: 10px 10px 0 0;
    display: inline; */
}

#account-tabs ul li:hover {
    background-color: aqua;
}

/* ----------------------------------- */

button {
    padding: 20px;
    font-family: Arial;
    font-size: 1.5em;
}